<a href="https://colab.research.google.com/github/danbikiki/machine-learning/blob/master/%EB%84%A4%EC%9D%B4%EB%B2%84_%EA%B8%88%EC%9C%B5_%ED%81%AC%EB%A1%A4%EB%A7%81.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
code_df=pd.read_html('http://kind.krx.co.kr/corpgeneral/corpList.do?method=download&searchType=13',header=0)[0]

In [3]:
code_df.종목코드=code_df.종목코드.map('{:06d}'.format)
code_df

            회사명    종목코드  ...                        홈페이지     지역
0           DSR  155660  ...          http://www.dsr.com  부산광역시
1            GS  078930  ...                         NaN  서울특별시
2         GS글로벌  001250  ...      http://www.gsgcorp.com  서울특별시
3     HDC현대산업개발  294870  ...      http://www.hdc-dvp.com  서울특별시
4         LG이노텍  011070  ...  http://www.lginnotek.co.kr  서울특별시
...         ...     ...  ...                         ...    ...
2361         툴젠  199800  ...      http://www.toolgen.com  서울특별시
2362   플럼라인생명과학  222670  ...       http://www.plsdna.com  서울특별시
2363    피엔에이치테크  239890  ...     http://www.phtech.co.kr    경기도
2364   한국미라클피플사  331660  ...       http://www.kmpc.co.kr    경기도
2365        휴벡셀  212310  ...          http://huvexel.com    경기도

[2366 rows x 9 columns]

In [4]:
code_df1=code_df[['회사명','종목코드']]
code_df1

            회사명    종목코드
0           DSR  155660
1            GS  078930
2         GS글로벌  001250
3     HDC현대산업개발  294870
4         LG이노텍  011070
...         ...     ...
2361         툴젠  199800
2362   플럼라인생명과학  222670
2363    피엔에이치테크  239890
2364   한국미라클피플사  331660
2365        휴벡셀  212310

[2366 rows x 2 columns]

In [12]:
code_df1.rename(columns={'회사명':'name','종목코드':'code'})

           name    code
0           DSR  155660
1            GS  078930
2         GS글로벌  001250
3     HDC현대산업개발  294870
4         LG이노텍  011070
...         ...     ...
2361         툴젠  199800
2362   플럼라인생명과학  222670
2363    피엔에이치테크  239890
2364   한국미라클피플사  331660
2365        휴벡셀  212310

[2366 rows x 2 columns]

In [6]:
def get_url(item_name,code_df1):
  code=code_df1.query("name=='{}'".format(item_name))['code'].to_string(index=False)
  url="https://finance.naver.com/item/sise.nhn?code={}".format(code=code)
  print('요청 url={}'.format(url))
  return url

In [11]:
item_name='삼성전자'
url =get_url(item_name, code_df)
print(url)

UndefinedVariableError: ignored

In [19]:
import pandas as pd
code_df=pd.read_html('http://kind.krx.co.kr/corpgeneral/corpList.do?method=download&searchType=13',header=0)

In [20]:
code_df

[            회사명    종목코드  ...                        홈페이지     지역
 0           DSR  155660  ...          http://www.dsr.com  부산광역시
 1            GS   78930  ...                         NaN  서울특별시
 2         GS글로벌    1250  ...      http://www.gsgcorp.com  서울특별시
 3     HDC현대산업개발  294870  ...      http://www.hdc-dvp.com  서울특별시
 4         LG이노텍   11070  ...  http://www.lginnotek.co.kr  서울특별시
 ...         ...     ...  ...                         ...    ...
 2361         툴젠  199800  ...      http://www.toolgen.com  서울특별시
 2362   플럼라인생명과학  222670  ...       http://www.plsdna.com  서울특별시
 2363    피엔에이치테크  239890  ...     http://www.phtech.co.kr    경기도
 2364   한국미라클피플사  331660  ...       http://www.kmpc.co.kr    경기도
 2365        휴벡셀  212310  ...          http://huvexel.com    경기도

 [2366 rows x 9 columns]]

In [18]:
code_df[0]

            회사명    종목코드  ...                        홈페이지     지역
0           DSR  155660  ...          http://www.dsr.com  부산광역시
1            GS   78930  ...                         NaN  서울특별시
2         GS글로벌    1250  ...      http://www.gsgcorp.com  서울특별시
3     HDC현대산업개발  294870  ...      http://www.hdc-dvp.com  서울특별시
4         LG이노텍   11070  ...  http://www.lginnotek.co.kr  서울특별시
...         ...     ...  ...                         ...    ...
2361         툴젠  199800  ...      http://www.toolgen.com  서울특별시
2362   플럼라인생명과학  222670  ...       http://www.plsdna.com  서울특별시
2363    피엔에이치테크  239890  ...     http://www.phtech.co.kr    경기도
2364   한국미라클피플사  331660  ...       http://www.kmpc.co.kr    경기도
2365        휴벡셀  212310  ...          http://huvexel.com    경기도

[2366 rows x 9 columns]

In [43]:
import pandas as pd
code_df=pd.read_html('http://kind.krx.co.kr/corpgeneral/corpList.do?method=download&searchType=13',header=0)[0]

In [44]:
code_df.종목코드=code_df.종목코드.map('{:06d}'.format)

In [45]:
code_df

            회사명    종목코드  ...                        홈페이지     지역
0           DSR  155660  ...          http://www.dsr.com  부산광역시
1            GS  078930  ...                         NaN  서울특별시
2         GS글로벌  001250  ...      http://www.gsgcorp.com  서울특별시
3     HDC현대산업개발  294870  ...      http://www.hdc-dvp.com  서울특별시
4         LG이노텍  011070  ...  http://www.lginnotek.co.kr  서울특별시
...         ...     ...  ...                         ...    ...
2361         툴젠  199800  ...      http://www.toolgen.com  서울특별시
2362   플럼라인생명과학  222670  ...       http://www.plsdna.com  서울특별시
2363    피엔에이치테크  239890  ...     http://www.phtech.co.kr    경기도
2364   한국미라클피플사  331660  ...       http://www.kmpc.co.kr    경기도
2365        휴벡셀  212310  ...          http://huvexel.com    경기도

[2366 rows x 9 columns]

In [46]:
code_df[['회사명','종목코드']]

            회사명    종목코드
0           DSR  155660
1            GS  078930
2         GS글로벌  001250
3     HDC현대산업개발  294870
4         LG이노텍  011070
...         ...     ...
2361         툴젠  199800
2362   플럼라인생명과학  222670
2363    피엔에이치테크  239890
2364   한국미라클피플사  331660
2365        휴벡셀  212310

[2366 rows x 2 columns]

'011070'

In [47]:
code_df=code_df.rename(columns={'회사명':'name','종목코드':'code'})
code_df.head()

        name    code  ...                        홈페이지     지역
0        DSR  155660  ...          http://www.dsr.com  부산광역시
1         GS  078930  ...                         NaN  서울특별시
2      GS글로벌  001250  ...      http://www.gsgcorp.com  서울특별시
3  HDC현대산업개발  294870  ...      http://www.hdc-dvp.com  서울특별시
4      LG이노텍  011070  ...  http://www.lginnotek.co.kr  서울특별시

[5 rows x 9 columns]

In [109]:
def get_url(item_name,code_df):
   code=code_df.query("name=='{}'".format(item_name))['code'].to_string(index=False).strip()
   url= 'http://finance.naver.com/item/sise_day.nhn?code={code}'.format(code=code)
   print('요청 URL = {}'.format(url))
   return url

In [110]:
item_name='삼성전자'
url=get_url(item_name,code_df)

print(url)

요청 URL = http://finance.naver.com/item/sise_day.nhn?code=005930
http://finance.naver.com/item/sise_day.nhn?code=005930

In [111]:
df = pd.DataFrame()
for page in range(1, 5):
    # 1~4까지 페이지를 읽어 데이터프레임에 저장한다.(append)
     pg_url='{url}&page={page}'.format(url=url, page=page)
     df=df.append(pd.read_html(pg_url, header=0)[0], ignore_index=True)

In [112]:
df

            날짜       종가     전일비       시가       고가       저가         거래량
0          NaN      NaN     NaN      NaN      NaN      NaN         NaN
1   2020.08.21  56300.0   900.0  56200.0  56800.0  55800.0  11142899.0
2   2020.08.20  55400.0  2400.0  57600.0  57600.0  55300.0  30386029.0
3   2020.08.19  57800.0   600.0  59000.0  59200.0  57800.0  16930719.0
4   2020.08.18  58400.0   400.0  58900.0  59900.0  58000.0  25307825.0
5   2020.08.14  58000.0   700.0  58000.0  58400.0  57700.0  15672548.0
6          NaN      NaN     NaN      NaN      NaN      NaN         NaN
7          NaN      NaN     NaN      NaN      NaN      NaN         NaN
8          NaN      NaN     NaN      NaN      NaN      NaN         NaN
9   2020.08.13  58700.0   300.0  59400.0  59600.0  58000.0  22089460.0
10  2020.08.12  59000.0   800.0  58200.0  59000.0  57700.0  18573934.0
11  2020.08.11  58200.0   400.0  58000.0  59500.0  57800.0  24907912.0
12  2020.08.10  57800.0   300.0  57600.0  58300.0  57500.0  17774291.0
13  2020.08.07  57500.0   500.0  57900.0  58400.0  57100.0  18751717.0
14         NaN      NaN     NaN      NaN      NaN      NaN         NaN
15         NaN      NaN     NaN      NaN      NaN      NaN         NaN
16  2020.08.06  58000.0  1100.0  57100.0  58400.0  57100.0  21625874.0
17  2020.08.05  56900.0   400.0  57300.0  57500.0  56300.0  17739706.0
18  2020.08.04  57300.0   500.0  57200.0  58100.0  57000.0  19419694.0
19  2020.08.03  56800.0  1100.0  57800.0  57900.0  56700.0  21158940.0
20  2020.07.31  57900.0  1100.0  59500.0  59600.0  57700.0  21943345.0
21         NaN      NaN     NaN      NaN      NaN      NaN         NaN
22         NaN      NaN     NaN      NaN      NaN      NaN         NaN
23         NaN      NaN     NaN      NaN      NaN      NaN         NaN
24  2020.07.30  59000.0     0.0  59700.0  60100.0  59000.0  19285354.0
25  2020.07.29  59000.0   400.0  60300.0  60400.0  58600.0  36476611.0
26  2020.07.28  58600.0  3000.0  57000.0  58800.0  56400.0  48431566.0
27  2020.07.27  55600.0  1400.0  54300.0  55700.0  54300.0  21054421.0
28  2020.07.24  54200.0   100.0  54000.0  54400.0  53700.0  10994535.0
29         NaN      NaN     NaN      NaN      NaN      NaN         NaN
30         NaN      NaN     NaN      NaN      NaN      NaN         NaN
31  2020.07.23  54100.0   600.0  54700.0  54700.0  53800.0  16214932.0
32  2020.07.22  54700.0   600.0  55300.0  55500.0  54700.0  12885057.0
33  2020.07.21  55300.0  1100.0  55200.0  55400.0  54800.0  18297260.0
34  2020.07.20  54200.0   200.0  54800.0  54800.0  54000.0  10507530.0
35  2020.07.17  54400.0   600.0  54200.0  54700.0  54100.0  10096174.0
36         NaN      NaN     NaN      NaN      NaN      NaN         NaN
37         NaN      NaN     NaN      NaN      NaN      NaN         NaN
38         NaN      NaN     NaN      NaN      NaN      NaN         NaN
39  2020.07.16  53800.0   900.0  54800.0  54800.0  53800.0  16779127.0
40  2020.07.15  54700.0   900.0  54400.0  55000.0  54300.0  24051450.0
41  2020.07.14  53800.0   400.0  53700.0  53800.0  53200.0  14269484.0
42  2020.07.13  53400.0   700.0  53300.0  53800.0  53100.0  12240188.0
43  2020.07.10  52700.0   100.0  53100.0  53200.0  52300.0  13714746.0
44         NaN      NaN     NaN      NaN      NaN      NaN         NaN
45         NaN      NaN     NaN      NaN      NaN      NaN         NaN
46  2020.07.09  52800.0   200.0  53200.0  53600.0  52800.0  17054850.0
47  2020.07.08  53000.0   400.0  53600.0  53900.0  52900.0  19664652.0
48  2020.07.07  53400.0  1600.0  55800.0  55900.0  53400.0  30760032.0
49  2020.07.06  55000.0  1400.0  54000.0  55000.0  53800.0  19856623.0
50  2020.07.03  53600.0   700.0  53000.0  53600.0  52700.0  11887868.0
51         NaN      NaN     NaN      NaN      NaN      NaN         NaN
52         NaN      NaN     NaN      NaN      NaN      NaN         NaN
53         NaN      NaN     NaN      NaN      NaN      NaN         NaN
54  2020.07.02  52900.0   300.0  52100.0  52900.0  52100.0  14142583.0
55  2020.07.01  52600.0   200.0  53400.0  53600.0  52400.0  16706143.0
56  2020.06.30  52800.0   400.0  53900.0  53900.0  52800.0  21157172.0
57  2020.06.29  52400.0   900.0  52500.0  53200.0  52000.0  17776925.0
58  2020.06.26  53300.0  1400.0  52800.0  53900.0  52200.0  21575360.0
59         NaN      NaN     NaN      NaN      NaN      NaN         NaN

In [113]:
df.dropna()

            날짜       종가     전일비       시가       고가       저가         거래량
1   2020.08.21  56300.0   900.0  56200.0  56800.0  55800.0  11142899.0
2   2020.08.20  55400.0  2400.0  57600.0  57600.0  55300.0  30386029.0
3   2020.08.19  57800.0   600.0  59000.0  59200.0  57800.0  16930719.0
4   2020.08.18  58400.0   400.0  58900.0  59900.0  58000.0  25307825.0
5   2020.08.14  58000.0   700.0  58000.0  58400.0  57700.0  15672548.0
9   2020.08.13  58700.0   300.0  59400.0  59600.0  58000.0  22089460.0
10  2020.08.12  59000.0   800.0  58200.0  59000.0  57700.0  18573934.0
11  2020.08.11  58200.0   400.0  58000.0  59500.0  57800.0  24907912.0
12  2020.08.10  57800.0   300.0  57600.0  58300.0  57500.0  17774291.0
13  2020.08.07  57500.0   500.0  57900.0  58400.0  57100.0  18751717.0
16  2020.08.06  58000.0  1100.0  57100.0  58400.0  57100.0  21625874.0
17  2020.08.05  56900.0   400.0  57300.0  57500.0  56300.0  17739706.0
18  2020.08.04  57300.0   500.0  57200.0  58100.0  57000.0  19419694.0
19  2020.08.03  56800.0  1100.0  57800.0  57900.0  56700.0  21158940.0
20  2020.07.31  57900.0  1100.0  59500.0  59600.0  57700.0  21943345.0
24  2020.07.30  59000.0     0.0  59700.0  60100.0  59000.0  19285354.0
25  2020.07.29  59000.0   400.0  60300.0  60400.0  58600.0  36476611.0
26  2020.07.28  58600.0  3000.0  57000.0  58800.0  56400.0  48431566.0
27  2020.07.27  55600.0  1400.0  54300.0  55700.0  54300.0  21054421.0
28  2020.07.24  54200.0   100.0  54000.0  54400.0  53700.0  10994535.0
31  2020.07.23  54100.0   600.0  54700.0  54700.0  53800.0  16214932.0
32  2020.07.22  54700.0   600.0  55300.0  55500.0  54700.0  12885057.0
33  2020.07.21  55300.0  1100.0  55200.0  55400.0  54800.0  18297260.0
34  2020.07.20  54200.0   200.0  54800.0  54800.0  54000.0  10507530.0
35  2020.07.17  54400.0   600.0  54200.0  54700.0  54100.0  10096174.0
39  2020.07.16  53800.0   900.0  54800.0  54800.0  53800.0  16779127.0
40  2020.07.15  54700.0   900.0  54400.0  55000.0  54300.0  24051450.0
41  2020.07.14  53800.0   400.0  53700.0  53800.0  53200.0  14269484.0
42  2020.07.13  53400.0   700.0  53300.0  53800.0  53100.0  12240188.0
43  2020.07.10  52700.0   100.0  53100.0  53200.0  52300.0  13714746.0
46  2020.07.09  52800.0   200.0  53200.0  53600.0  52800.0  17054850.0
47  2020.07.08  53000.0   400.0  53600.0  53900.0  52900.0  19664652.0
48  2020.07.07  53400.0  1600.0  55800.0  55900.0  53400.0  30760032.0
49  2020.07.06  55000.0  1400.0  54000.0  55000.0  53800.0  19856623.0
50  2020.07.03  53600.0   700.0  53000.0  53600.0  52700.0  11887868.0
54  2020.07.02  52900.0   300.0  52100.0  52900.0  52100.0  14142583.0
55  2020.07.01  52600.0   200.0  53400.0  53600.0  52400.0  16706143.0
56  2020.06.30  52800.0   400.0  53900.0  53900.0  52800.0  21157172.0
57  2020.06.29  52400.0   900.0  52500.0  53200.0  52000.0  17776925.0
58  2020.06.26  53300.0  1400.0  52800.0  53900.0  52200.0  21575360.0