<a href="https://colab.research.google.com/github/danbikiki/machine-learning/blob/master/%EC%A0%9C%EC%A3%BC%EB%8F%84_%EA%B8%88%EC%9C%B5%EB%8D%B0%EC%9D%B4%ED%84%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
%pwd

'/content'

In [ ]:
%cd drive/'My Drive'/'Colab Notebooks'/'jeju'

/content/drive/My Drive/Colab Notebooks/jeju

In [ ]:
%ls

201901-202003.csv  202004.csv

In [ ]:
import pandas as pd

In [ ]:
data=pd.read_csv('/content/drive/My Drive/Colab Notebooks/jeju/201901-202003.csv')

In [ ]:
data

          REG_YYMM CARD_SIDO_NM CARD_CCG_NM  ... CSTMR_CNT      AMT CNT
0           201901           강원         강릉시  ...         4   311200   4
1           201901           강원         강릉시  ...         7  1374500   8
2           201901           강원         강릉시  ...         6   818700   6
3           201901           강원         강릉시  ...         4  1717000   5
4           201901           강원         강릉시  ...         3  1047300   3
...            ...          ...         ...  ...       ...      ...  ..
24697787    202003           충북         충주시  ...         3    43300   4
24697788    202003           충북         충주시  ...         3    35000   3
24697789    202003           충북         충주시  ...         4   188000   6
24697790    202003           충북         충주시  ...         4    99000   6
24697791    202003           충북         충주시  ...         3   194000   3

[24697792 rows x 12 columns]

In [ ]:
data2=pd.read_csv('/content/drive/My Drive/Colab Notebooks/jeju/202004.csv')

In [ ]:
data=pd.concat([data,data2],axis=0)
data

         REG_YYMM CARD_SIDO_NM CARD_CCG_NM  ... CSTMR_CNT      AMT CNT
0          201901           강원         강릉시  ...         4   311200   4
1          201901           강원         강릉시  ...         7  1374500   8
2          201901           강원         강릉시  ...         6   818700   6
3          201901           강원         강릉시  ...         4  1717000   5
4          201901           강원         강릉시  ...         3  1047300   3
...           ...          ...         ...  ...       ...      ...  ..
1350317    202004           충북         충주시  ...         5    77000   5
1350318    202004           충북         충주시  ...         6    92000   6
1350319    202004           충북         충주시  ...         5   193000   5
1350320    202004           충북         충주시  ...         5    86000   7
1350321    202004           충북         충주시  ...         3   227000   4

[26048114 rows x 12 columns]

REG_YYMM :년월

CARD_SIDO_NM : 카드이용지역_시도 (가맹점 주소 기준)

CARD_CCG_NM : 카드이용지역_시군구 (가맹점 주소 기준)

STD_CLSS_NM : 업종명

HOM_SIDO_NM : 거주지역_시도 (고객 집주소 기준)

HOM_CCG_NM : 거주지역_시군구 (고객 집주소 기준)

AGE: 연령대

SEX_CTGO_CD : 성별 (1: 남성, 2: 여성)

FLC : 가구생애주기 (1: 1인가구, 2: 영유아자녀가구, 3: 중고생자녀가구, 4: 성인자녀가구, 5: 노년가구)

CSTMR_CNT : 이용고객수 (명)

AMT : 이용금액 (원) - 종속변수

CNT : 이용건수 (건)

2020.04, 2020.07 기간 내 지역, 업종 별 월간 총 사용 금액 예측

In [ ]:
data_grouped=data.loc[:,['REG_YYMM','CARD_SIDO_NM','STD_CLSS_NM','AMT']]
data_grouped

         REG_YYMM CARD_SIDO_NM STD_CLSS_NM      AMT
0          201901           강원  건강보조식품 소매업   311200
1          201901           강원  건강보조식품 소매업  1374500
2          201901           강원  건강보조식품 소매업   818700
3          201901           강원  건강보조식품 소매업  1717000
4          201901           강원  건강보조식품 소매업  1047300
...           ...          ...         ...      ...
1350317    202004           충북    휴양콘도 운영업    77000
1350318    202004           충북    휴양콘도 운영업    92000
1350319    202004           충북    휴양콘도 운영업   193000
1350320    202004           충북    휴양콘도 운영업    86000
1350321    202004           충북    휴양콘도 운영업   227000

[26048114 rows x 4 columns]

In [ ]:
grouped=data[['REG_YYMM','CARD_SIDO_NM','STD_CLSS_NM','AMT']]

In [ ]:
group_city=data_grouped.groupby(['REG_YYMM','CARD_SIDO_NM','STD_CLSS_NM','AMT'])['AMT']
group_city=pd.DataFrame(group_city)
group_city

In [ ]:
group_city_clss_time=data_grouped.groupby(['REG_YYMM','CARD_SIDO_NM','STD_CLSS_NM','AMT'])['AMT'].sum()
group_city_clss_time=pd.DataFrame(group_city_clss_time)
group_city_clss_time